<launch>
    <arg name="port" />
    <arg name="baud" default="57600" />
    <arg name="mode_right" default="true" />
    <arg name="direction" default="1" />

    <node
        pkg="rosserial_python"
        type="serial_node.py"
        name="eye_display"
        output="screen"
        >
        <rosparam subst_value="true">
            port: $(arg port)
            baud: $(arg baud)
            mode_right: $(arg mode_right)
            direction: $(arg direction)
            eye_asset_names: [normal, blink, surprised, sleepy, angry, sad, happy]
            normal_eye_asset: '{upperlid_position: [-130]}'
            blink_eye_asset: '{upperlid_position: [-130, -130, 0, 0, -130, -130]}'
            surprised_eye_asset: '{path_iris: "/normal_kxr_iris_surprised.jpg", path_pupil: "/normal_kxr_puil_surprised.png", path_reflex: "/normal_kxr_reflex_surp.png", upperlid_position: [-130, -130, -130, -130, 0, 0, -130, -130, -130, -130, 0, -130, -130, 0, -130, -130]}'
            sleepy_eye_asset: '{path_iris: "/normal_kxr_iris_sleepy.png", path_pupil: "/normal_kxr_pupil_sleepy.png", upperlid_position: [-70, -70, -60, 0, 0, 0, -60, -70, -70, -70]}'
            angry_eye_asset: '{path_upperlid: "/normal_kxr_upperlid_ldown.jpg", upperlid_position: [-10.0]}'
            sad_eye_asset: '{path_upperlid: "/normal_kxr_upperlid_rdown.jpg", upperlid_position: [0.0]}'
            happy_eye_asset: '{path_upperlid: "/normal_kxr_upperlid_happy.jpg", upperlid_position: [0.0, -130, 130]}'
        </rosparam>
    </node>
</launch>
